<%= form_for(@prisoner) do |f| %>
  <% if @prisoner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prisoner.errors.count, "error") %> prohibited this prisoner from being saved:</h2>

      <ul>
      <% @prisoner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
